[user]
	name = Josh Brunton
	email = josh.brunton@proton.me
[core]
	editor = nvim
[alias]
	back = !/bin/bash "$HOME/.brunt-dotfiles/scripts/git-back.sh"
	hist = log --graph --oneline --decorate --all
[init]
	defaultBranch = main
[merge]
	tool = kdiff3
